@keyframes opacity {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes blurOut {
  0% {
    opacity: 1;
    backdrop-filter: blur(7px);
  }

  30% {
    opacity: 1;
    backdrop-filter: blur(20px);
  }

  100% {
    opacity: 0;
    backdrop-filter: blur(0px);
    visibility: hidden;
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes bounceRight {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(5px);
  }
}

@keyframes width {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

@keyframes height {
  0% {
    height: 0%;
  }

  100% {
    height: 30%;
  }
}

@keyframes slideFromTop {
  0%{
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform:  translateY(0);
  }
}

@keyframes slideFromBottom {
  0%{
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform:  translateY(0);
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}