:root {
  --bgColor: #000000;
  --textColor: rgba(255, 255, 255, 0.9);
  --primaryColor: #f9a825;
  --secondaryColor: rgba(255, 214, 79, 0.902);
  --accentColor: #1565c0;
  --secTextColor: #424242;
    --heroGradient: linear-gradient(to top, var(--bgColor), transparent, transparent, transparent, transparent);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: var(--bgColor);
  overflow-y: auto;
  transition: background 0.8s, color 0.8s;
}

body.light {
  --bgColor: #FFFFFF;
  --textColor: #000;
  --primaryColor: rgba(255, 214, 79, 0.9);
  --secondaryColor: #FBCE05;
  --accentColor: #1c589c;
  --secTextColor: #424242;
  --heroGradient: linear-gradient(to top, var(--bgColor), transparent, transparent, transparent, transparent);
}

.header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  height: 10vh;
  z-index: 10;
  width: 100%;
}

.header .logo {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .logo img {
  width: 100%;
}

.header .text-hero h1 {
  font-size: 1.938rem;
  font-weight: 900;
  color: #fff;
  text-shadow: 1px 1px 3px #000000;
}

.header .text-hero p {
  font-family: 'Ubuntu';
  font-size: 1rem;
  color: #fff;
}

/* Hero Section */
.hero {
  width: 100%;
  height: 90vh;
  position: relative;
}

.hero-slider .swiper-slide {
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.hero-content {
  position: relative;
  text-align: center;
  color: #fff;
  width: 100%;
  padding: 2rem;
  z-index: 2;
  animation: fadeInUp 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 90vh;
}

.hero-content {
  position: relative;
  overflow: hidden;
}

.hero-content::before,
.hero-content::after {
  content: "";
  position: absolute;
  inset: 0;
  transition: opacity 0.8s ease;
  z-index: -1;
}

.hero-content::before {
  background: linear-gradient(to top, #000, transparent, transparent, transparent, transparent);
  opacity: 1;
}

.hero-content::after {
  background: linear-gradient(to top, transparent, transparent, transparent, transparent, transparent);
  opacity: 0;
}

body.light .hero-content::before {
  opacity: 0;
}

body.light .hero-content::after {
  opacity: 1;
}


.hero-content h1 {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 3.062rem;
  color: #fff;
  text-shadow: 1px 1px 3px #000000;
}

.hero-content p {
  font-family: 'Ubuntu';
  font-size: 1.25rem;
}

.btn{
  display: flex;
  padding: 12px 28px;
  background: linear-gradient(135deg, #f8e194, #f9a825);
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  transition: 0.4s ease-in-out;
}

.btn:hover {
  background: linear-gradient(40deg,
            #f8e194 0%,
            #f9a825 50%,
            #f8e194 100%);
    background-size: 200% auto;
    animation: shine 0.8s ease-out;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

.swiper-pagination-bullet {
  background: #fff;
}

.about {
  color: var(--textColor);
  margin: 15rem 10%;
  display: flex;
  flex-direction: column;
  gap: 15rem;
  justify-content: center;
  align-items: center;
}

.about .row-about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  height: auto;
}

.about .row-about .gambar-row,
.about .row-about .gambar-tujuan {
  flex: 1 1 300px;
}

.about .row-about .gambar-row img {
  width: 100%;
  box-shadow: -60px 60px 0px -20px var(--secondaryColor);
}

.about .row-about .gambar-tujuan img {
  width: 100%;
  box-shadow: 60px 60px 0px -20px var(--secondaryColor);
}

.about .row-about .text-about {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about .row-about .text-about h1 {
  font-family: 'Montserrat';
  font-size: 1.938rem;
  font-weight: 800;
  color: var(--textColor);
}

.about .row-about .text-about p {
  font-family: 'Ubuntu';
  font-size: 1rem;
  font-weight: 400;
  color: var(--textColor);
  opacity: 0.9;
  line-height: 1.5;
  text-align: justify;
}

.about .program {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  width: 100%;
}

.about .program h1 {
  font-family: 'Montserrat';
  font-size: 1.938rem;
  font-weight: 800;
  color: var(--textColor);
  text-align: center;
}

.about .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.about .program .card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  background: var(--secondaryColor);
  padding: 2rem;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.btn-program {
  display: flex;
  padding: 12px 28px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  transition: 0.3s ease;
  width: auto;
  left: 0;
  margin-right: auto;
  transition: 0.4s ease;
}

.btn-program:hover{
  background: #000;
}

.about .program .card i {
  font-size: 1.938rem;
  color: rgba(0, 0, 0, 0.8);
}

.about .program .card h1 {
  text-align: left;
  font-size: 1.938rem;
  color: rgba(0, 0, 0, 0.8);
}

.about .program .card p {
  font-family: 'Ubuntu';
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5;
}

.CTA-login {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 100%;
  padding: 0 10%;
  height: auto;
}

.CTA-login .vid-cta {
  display: flex;
  flex: 1 1 500px;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.CTA-login .vid-cta video {
  width: 100%;
  object-fit: cover;
  height: 100%;
  box-shadow: -60px 60px 0px -20px var(--secondaryColor);
}

.CTA-login .text-cta {
  flex: 1 1 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
}

.CTA-login .text-cta .text-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.CTA-login .text-cta .text-row a {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondaryColor);
  font-family: 'Montserrat';
  font-size: 1rem;
  font-weight: 700;
  color: #000000;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  transition: 0.3s;
  white-space: nowrap;
}

.CTA-login .text-cta .text-row a:hover {
  background-color: #f9a825;
}

.CTA-login .text-cta .text-row h1 {
  font-family: 'Montserrat';
  font-size: 1.938rem;
  color: var(--textColor);
  font-weight: 800;
}

.CTA-login .text-cta .text-row p {
  font-family: 'Ubuntu';
  font-size: 1.25rem;
  color: var(--textColor);
}

.site-footer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
  padding: 3rem;  
  width: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

body.light .site-footer {
  background-color: rgba(0, 0, 0, 0.9);
}

.site-footer .footer-top {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 3rem;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 1rem 2rem;
}

.site-footer .footer-top .footer-about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
}

.site-footer .footer-top .footer-about .logo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.site-footer .footer-top .footer-about .logo .logo-mark {
  width: 70px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-footer .footer-top .footer-about .logo .logo-mark img {
  width: 100%;
}

.site-footer .footer-top .footer-about .logo .logo-text h1 {
  font-family: 'Montserrat';
  font-size: 1.938rem;
  font-weight: 800;
  color: var(--bgColor);
}

.site-footer .footer-top .footer-about .logo .logo-text p {
  font-family: 'Montserrat';
  font-size: 1rem;
  color: var(--bgColor);
}

.site-footer .footer-top .footer-about .about-text {
  font-family: 'Ubuntu';
  font-size: 1rem;
  font-style: italic;
  color: var(--bgColor);
}

.site-footer .footer-top .social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.site-footer .footer-top .social .programs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.site-footer .footer-top .social h1 {
  font-family: 'Montserrat';
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--bgColor);
}

.site-footer  .footer-top .social .contact-us {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.site-footer  .footer-top .social .list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.site-footer  .footer-top .social .list li {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.site-footer  .footer-top .social .list li i {
  font-size: 1.15rem;
  transition: 0.5s;
  color: var(--bgColor);
}

.site-footer  .footer-top .social .list a{
  font-family: 'Ubuntu';
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--bgColor);
  transition: 0.5s;
}

.site-footer  .footer-top .social .list li:hover a,
.site-footer  .footer-top .social .list li:hover i {
  color: #1565c0;
}

.site-footer .footer-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.site-footer .footer-bottom p {
  font-family: 'Montserrat';
  font-size: 1rem;
  color: var(--accentColor);
  font-weight: 500;
}

.site-footer .footer-bottom .socials {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.site-footer .footer-bottom .socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s;
}

.site-footer .footer-bottom .socials a:hover {
  box-shadow: 0px 0px 6px #1c589c;
}

.site-footer .footer-bottom .socials a i {
  font-size: 1.25rem;
  color: #1c589c;
}

.site-footer .line {
  width: 100%;
  height: 2px;
  background-color: #424242;
}

@media only screen and (max-width: 1165px) {
  html {
    font-size: 85%;
  }
}

@media only screen and (max-width: 769px) {
  html {
    font-size: 75%;
  }

  .site-footer .footer-top .footer-about .logo .logo-mark {
    width: 55px;
  }

  .site-footer .footer-top {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 65%;
  }

  .header .logo {
    width: 50px;
  }

.toggle-mode .btn-mode .img-container img {
  width: 25px;
}

.toggle-mode .btn-mode .text p {
  padding: 0px 10px;
}

.toggle-mode .btn-mode {
  padding: 3px;
}


.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px;
}

.about .row-about .gambar-row img {
  width: 100%;
  box-shadow: -40px 40px 0px -20px var(--secondaryColor);
}

.about .row-about .gambar-tujuan img {
  width: 100%;
  box-shadow: 40px 40px 0px -20px var(--secondaryColor);
}

.CTA-login .vid-cta {
  height: 50vh;
}

.CTA-login .vid-cta video {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 25px;
  box-shadow: 40px 40px 0px -20px var(--secondaryColor);
}

.CTA-login .text-cta .text-row {
  align-items: center;
  text-align: center;
}

.site-footer .footer-top .social {
  grid-template-columns: 1fr;
  gap: 2rem;
}

}