.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.card-container .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    background: var(--secondaryColor);
    padding: 2rem;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.card-container .card.data-siswa {
    align-items: flex-start;
}

.card-container .card i {
    font-size: 3rem;
    color: #000000;
}

.card-container .card h1 {
    font-family: 'Montserrat';
    font-size: 1.938rem;
    font-weight: 800;
    color: #000000;
}

.card-container .card p {
    font-family: 'Ubuntu';
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: #000000;
}

.card-container .card a {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 700;
    color: #FFFFFF;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    transition: 0.3s;
    white-space: nowrap;
}

.card-container .card a:hover {
    background-color: rgba(0, 0, 0, 1);
}