.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container .popup {
    background-color: rgba(153, 255, 0, 0.5);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    font-family: "Montserrat";
    font-size: 1.25rem;
    border-radius: 15px;
    color: var(--textColor);
}

.container .popup button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container .popup button i {
    font-size: 1.5rem;
    color: var(--textColor);
}

.container .top-bar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

/* .container .top-bar form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
} */

.container .top-bar input {
    font-family: "Ubuntu";
    font-size: 1rem;
    padding: 10px 14px;
    border-radius: 5px;
    width: 250px;
    border: 1px solid rgb(150, 150, 150);
    background-color: transparent;
    color: var(--textColor);
}

.container .top-bar input:focus {
    outline: none;
    border: 1px solid var(--accentColor);
    box-shadow: 0px 0px 10px var(--accentColor);
}

.container .top-bar button:hover {
    background-color: var(--accentColor);
    color: #f9f9f9;
}

.container .top-bar a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    background-color: #397bc6;
    border-radius: 5px;
    color: #f9f9f9;
    transition: 0.5s;
}

.container .top-bar a:hover {
    background-color: #1d62af;
}